# Dependencies
node_modules/

# Build outputs
build/
dist/

# Environment variables
.env
.env.*
!.env.example
!.env*.example

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# Local dev
*.local
